.game {
}

#board {
    background-image: url('../assets/gomokuBoardv2.png');
    background-size: cover;
    width: 906px;
    height: 906px;
    margin: 0 auto;
    position: absolute;
    z-index: 0;
}

.white-stone {
    background-image: url('../assets/whiteStone.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 3;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Tout les autres navigateurs */
}

.black-stone {
    background-image: url('../assets/blackStone.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 3;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Tout les autres navigateurs */
}

.blocked-stone {
    background-image: url('../assets/blockedStone.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 3;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Tout les autres navigateurs */
}

#shadow-stone {
    background-size: cover;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 117px;
    top: 117px;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    display: none;
    z-index: 2;
}

#winner-text {
    font-size: 60px;
    font-weight: bold;
    
}

.white-shadow-stone {
    background-image: url('../assets/whiteStone.png');
}
.black-shadow-stone {
    background-image: url('../assets/blackStone.png');
}