.params-bar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 300px;
    height: 88%;
    position: absolute;
    margin-top: 80px;
    left: 0%;
    /*background-color: #ce9400;*/
}

@media screen and (max-width: 1290px) {
    .params-bar {
        width: fit-content;
        height: 200px;
        justify-content: space-between;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 230%);
    }

}

.param-prop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 110px;
    padding: 10px;
    color: #632f02;
    background-image: url("../../assets/WoodSignParams.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 16px;
    /*border-bottom: 1px solid #090909;*/
}

.param-props-div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.param-props-div span {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    color: #632f02;
}

@media screen and (max-width: 1290px) {
    .param-props-div span {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: 100%;
        color: #632f02;
    }
}

.param-prop h2 {
    font-weight: 100;
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    /*padding-left: 20px;*/
    /*margin: 0;*/
}

.first-player-selector-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 120%;
    height: 50px;
    position: relative;
    bottom: 15% ;
}

.first-player-selector {
    all: unset;
    height: 50px;
    width: 50px;
    background-image: url("../../assets/blackStone.png");
    background-size: 100% 100%;
    position: relative ;
}

.first-player-selector.white {
    background-image: url("../../assets/whiteStone.png");
    background-size: 100% 100%;
}

.first-player-selector-white {
    color: #e9e9e9;
    display: none;
}

.first-player-selector-black {
    color: #1f1f1f;
    display: block;
}

.first-player-selector-white.toggle {
    display: block;
}

.first-player-selector-black.toggle {
    display: none;
}

.activate-hint-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 120%;
    height: 50px;
    position: relative;
    bottom: 15% ;
}

.activate-hint {
    all: unset;
    height: 50px;
    width: 50px;
    background-image: url("../../assets/checkboxFalse.png");
    background-size: 100% 100%;
    position: relative ;
}

.activate-hint.activate {
    background-image: url("../../assets/checkBoxTrue.png");
    background-size: 100% 100%;
}

.info-prop-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.info-prop-slider p {
    padding-right: 0px;
    margin-bottom: 10px;
    color: #e9e9e9;
    font-size: 22px;
}
